include README.rst setup.py setup.cfg MANIFEST.in
include versioneer.py
include data_profiler/_version.py

recursive-include data_profiler *.py *.c
recursive-include doc *.py *.rst

include doc/make.bat doc/Makefile
prune doc/build
